:root {
    --primary: #7fb8f9;
    --secondary: #ffc448;
    --light: #FAFAFB;
    --dark: #12141D;
    --danger: #e34c26;
    --info: #4345d4;
    --warning: #dfd43a;
    --success: #b743d4;
    --white: #fff;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

/* Spinner Start */
.lds-ring {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 99999;
}

.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--primary);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--primary) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Spinner End */

/* Button Start */
.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-weight: normal;
}
/* Button End */

body {
	background-color: var(--white);
}

body.dark {
	background-color: var(--dark);
}

/* Navbar Start */
.navbar.fixed-top {
    display: none;
    transition: .5s;
}

.navbar .navbar-nav .nav-link {
    padding: 20px 15px;
    color: var(--dark);
    font-size: 18px;
    font-weight: 600;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active-link {
    color: var(--primary);
    text-decoration: underline;
    text-underline-position: under;
}

@media screen and (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        padding: 10px 0;
    }
}
/* Navbar End */

/* Home Start */
#home {
    background: url(../Img/bg-header.png) left top no-repeat;
    /* background-color: var(--light); */
}

#home h1 {
    font-size: 70px;
}

.font {
    font-size: 50px;
}

.typed-cursor {
    font-size: 50px;
    color: var(--secondary);
}

.btn-play {
    position: relative;
    display: block;
    width: 16px;
    height: 26px;
    border-radius: 100%;
    border: none;
    outline: none!important;
    padding: 18px 20px 20px 28px;
    background: var(--secondary);
}

.btn-play::before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background: var(--secondary);
    border-radius: 100%;
    animation: pulse-border 1500ms ease-out infinite;
}

.btn-play::after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 100%;
    transition: all 200ms;
}

.btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    left: -9px;
    top: -9px;
    border-left: 15px solid var(--secondary);
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
    }
}

.modal-video .modal-dialog {
    max-width: 800px;
    margin: 60px auto 0 auto;
}

.modal-video .btn-close {
    width: 30px;
    height: 30px;
    font-size: 20px;
}
/* Home End */

/* About Start */
.fonts {
    font-size: 10rem;
    line-height: 9rem;
}

.years {
    letter-spacing: 40px;
    margin-right: -40px;
}
/* About End */

/* Skills Start */
.progress {
    height: 10px;
    border-radius: 10px;
}

.progress-bar {
    width: 0;
    border-radius: 10px;
    transition: 3s;
}

#skills .tab-content hr {
    width: 30px;
    height: 3px;
}

#skills .tab-content h5 {
    background: linear-gradient(0deg,#7fb8f9,#ffc448);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Skills End */

/* Services Start */
.bg-icon {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../Img/Services.png) center center no-repeat;
    background-size: cover;
}

#services h4 {
    background: linear-gradient(0deg,#7fb8f9,#ffc448);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Services End */

/* Projects Start */
#portfolio-filters li {
    display: inline-block;
    font-weight: 500;
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
}

#portfolio-filters li:hover,
#portfolio-filters li.active {
    color: var(--primary);
    border-color: var(--primary);
}

.portfolio-img {
    position: relative;
}

.portfolio-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(127, 184, 249, .9);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 30px;
    padding-bottom: 100px !important;
    opacity: 0;
    transition: .5s;
}

.portfolio-item:hover .portfolio-btn {
    opacity: 1;
    padding-bottom: 30px !important;
}
/* Portfolio End */

/* Team Start */
.team-img {
    position: relative;
}

.team-img img {
    transition: 0.5s;
}

.engineer-teams {
    position: absolute;
    left: 0;
    right: 60px;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;    
    transition: 0.5s;
}

.team-img:hover .engineer-teams {
    right: 30px;
    opacity: 1;
}

.team-img .engineer-teams div {
    transition: 0.5s;
}

.team-img:hover .engineer-teams div {
    margin-left: 30px;
}
/* Team End */

/* Testimonial Start */
.testimonial-left, .testimonial-right {
    position: relative;
}

.testimonial-left img, .testimonial-right img {
    position: absolute;
    padding: 5px;
    border: 1px solid var(--primary);
    border-radius: 100%;
}

.testimonial-left img:nth-child(1), 
.testimonial-right img:nth-child(3) {
    width: 70px;
    height: 70px;
    top: 10%;
    left: 30%;
    transform: translateX(50%);
}

.testimonial-left img:nth-child(2), 
.testimonial-right img:nth-child(2) {
    width: 60px;
    height: 60px;
    top: 50%;
    left: 10%;
    transform: translateY(50%);
}

.testimonial-left img:nth-child(3), 
.testimonial-right img:nth-child(1) {
    width: 50px;
    height: 50px;
    right: 10%;
    bottom: 10%;
}

.testimonial-carousel .testimonial-item img {
    width: 120px;
    height: 120px;
}

.testimonial-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    background: white;
}

.testimonial-carousel h1 {
    background: linear-gradient(90deg,#7fb8f9,#ffc448);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.testimonial-carousel .owl-dots {
    height: 40px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    background: #fff;
    border: 2px solid var(--secondary);
    border-radius: 30px;
    transition: .5s;
}

.testimonial-carousel .owl-dot::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 5px;
    left: 5px;
    border-radius: 16px;
    background: var(--secondary);
    transition: .5s;
}

.testimonial-carousel .owl-dot.active::after {
    background: var(--primary);
}
/* Testimonial End */

/* Contact Start */
.contact-icon div i {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#contact p {
    font-size: 25px;
    font-weight: bold;
}
/* Contact End */

/* Back to Top Start */
.back-to-top {
    position: fixed;
    right: 50px;
    bottom: 50px;
}
/* Back to Top End */